.carousel{
  width: 90%;
  height: 800px;

  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(0%,0%);
  overflow: hidden;
  margin-top: 80%;
  margin: auto;
  padding: 25px;
}
.navigation{
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid grey;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.7;
}
.bar:hover{
  background: black;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}
.inlink {
	text-align: center;
	background-color: black;
	text-decoration: none;
	margin: auto;

}