.lightbox {
    position: absolute;
    z-index: 99;
    height: 0;
    width: 0;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 1, 0, 1);
    opacity: 0;
    margin: auto;
}
.lightbox img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    opacity: 0;
    overflow: hidden;
}
.lightbox:target {
    outline: none;
 	
    width: 100%;
    height: 100%;
    opacity: 1;
    margin: auto;
    padding-top: 5%;
    
}
.lightbox:target img {
    border: solid 17px white;
    opacity: 0.8;
   
    transition: opacity 0.3s;
}
.light-btn {
    color: #fafafa;
    background-color: #333;
    border: solid 3px white;
    padding: 5px 15px;
    border-radius: 1px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 45%;
    z-index: 99;
}
.light-btn:hover {
    background-color: #111;
}
.btn-prev {
    left: 7%;
}
.btn-next {
    right: 7%;
}
.btn-close {
    position: absolute;
    right: 2%;
    top: 2%;
    color: #fafafa;
    background-color: red;
    border: solid 5px white;
    padding: 10px 15px;
    border-radius: 1px;
    text-decoration: none;
}
.btn-close:hover {
    background-color: #740404;
}
.light-box {
	align-content: center;
}
.cv6-img {
    border: 1px solid black;
    border-radius: 2px;
    padding: 8px 5px;
    bottom: 0; 
    position: relative;
    size: absolute;
    max-height: 100px;
    max-width: 150px;
    float: center;
    height: 100px;
    width: 150px;
}

.p1 {
	background-color: #deeaee;
	font-weight: bold;
	top: 1;
	font-size: 27px;
	margin-left: 50px;
    margin-bottom: 45px;
    margin-right: 40px;
}